<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#/" class="navbar-brand">Marketplace</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav ml-auto">
                <li ng-if="isLogged()" class="navbar-text">( {{ company_name }} )</li>
                <li ng-if="isLogged()" class="nav-item"><a class="nav-link" href="#/my-products">Meus Anúncios</a></li>
                <li ng-if="isLogged()" class="nav-item"><a class="nav-link" ng-click="logout()" href="/">Sair</a></li>
                <li ng-if="!isLogged()" class="nav-item"><a class="nav-link" href="#/signup">Cadastre-se</a></li>
                <li ng-if="!isLogged()" class="nav-item"><a class="nav-link" href="#/signin">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
