<header class="container-fluid">
    <div class="jumbotron">
        <h1>Nós temos {{ totalProducts }} anúncios hoje.</h1>
        <p>E mais de {{ totalStores }} lojas cadastrados.</p>
    </div>
</header>

<main class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h4>Pesquisa Avançada</h4>

            <form method="get">
                <div class="form-group">
                    <label for="category">Categoria:</label>
                    <select ng-model="selectedCategory" ng-options="category.name for category in categories" id="category" class="form-control">
                        <option value="">-- Escolha uma Categoria --</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="price">Preço:</label>
                    <select ng-model="selectedPrice" id="price" class="form-control">
                        <option value="">-- Escolha um Preço --</option>
                        <option value="0-50">R$ 0 - 50</option>
                        <option value="51-500">R$ 51 - 500</option>
                        <option value="501-2000">R$ 501 - 2000</option>
                        <option value="2001-5000">R$ 2001 - 5000</option>
                        <option value="5001-20000">R$ 5001 - 20000</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="estado">Estado de Conservação:</label>
                    <select name="filtros[estado]" id="estado" class="form-control">
                        <option>-- Escolha o Estado de Conservação --</option>
                        <option value="0">Ruim</option>
                        <option value="1">Bom</option>
                        <option value="2">Ótimo</option>
                    </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-info">Buscar</button>
                </div>
            </form>
        </div>
        <div class="col-sm-9">
            <h4>Últimos Anúncios</h4>

            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="product in products | filter: {category: selectedCategory.name} | priceFilter: selectedPrice">
                        <td ng-if="!isEmpty(product.picture)">
                            <img ng-src="{{ url }}/images/products/{{ product.picture }}" alt="Foto Anúncio" height="75">
                        </td>
                        <td ng-if="isEmpty(product.picture)">
                            <img src="/images/default.jpg" alt="Foto Anúncio" height="75">
                        </td>
                        <td>
                            <a href="#/product/{{ product.id }}">{{ product.name }}</a>
                            <span class="d-block">{{ product.category }}</span>
                        </td>
                        <td>{{ product.price | currency }}</td>
                    </tr>
                </tbody>
            </table>

            <ul class="pagination justify-content-center">
                <!-- <?php for ($i = 0; $i < $total_paginas; $i++) : ?>
                    <li class="page-item <?= $pagina == $i + 1 ? 'active' : '' ?>">
                        <a class="page-link" href="/?<?= $this->construirSearchQuery($i + 1) ?>"><?= $i + 1 ?></a>
                    </li>
                <?php endfor ?> -->
            </ul>
        </div>
    </div>
</main>