<main class="container mt-3">
    <h1>Login</h1>

    <form name="signinForm">
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" ng-model="store.email" id="email" class="form-control" ng-required="true">
        </div>
        <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" ng-model="store.password" id="password" class="form-control" ng-required="true">
        </div>
        <button class="btn btn-outline-dark" ng-click="signin(store)">Fazer Login</button>

        <div class="alert alert-danger text-center mt-4" ng-show="error">
            Usuários e/ou Senha inválidos!
        </div>
    </form>
</main>